name: Build Docker Image - Manual Specific

on:
  workflow_dispatch:
    inputs:
      specific_project:
        description: 'Enter a specific project name to build.'
        required: true
        default: 'loop'
        # ${{ github.event.inputs.specific_project }}

jobs:
  build-image:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      
      # specific
      - name: Build and push specific image
        uses: docker/build-push-action@v5
        with:
          context: ./${{ github.event.inputs.specific_project }}
          file: ./${{ github.event.inputs.specific_project }}/Dockerfile
          platforms: linux/arm64,linux/amd64
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/${{ github.event.inputs.specific_project }}:latest
      - name: Update specific repo description
        uses: peter-evans/dockerhub-description@v4
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
          repository: ${{ secrets.DOCKERHUB_USERNAME }}/${{ github.event.inputs.specific_project }}
          readme-filepath: ./${{ github.event.inputs.specific_project }}/README.md
