name: Build Docker Image - Manual

on:
  workflow_dispatch:

jobs:
  build-image:
    runs-on: ubuntu-latest
    steps:
      # grasscutter
      - name: Build and push grasscutter image
        uses: docker/build-push-action@v5
        with:
          context: ./grasscutter
          file: ./grasscutter/Dockerfile
          platforms: linux/arm64,linux/amd64
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/grasscutter:latest
      - name: Update grasscutter repo description
        uses: peter-evans/dockerhub-description@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
          repository: ${{ secrets.DOCKERHUB_USERNAME }}/grasscutter
          build-args: RESOURCES_VERSION=${{ secrets.GRASSCUTTER_RES_VERSION }},GITHUB_WORKFLOW_ACCESS_TOKEN=${{ secrets.GH_WORKFLOW_ACCESS_TOKEN }}
